<!DOCTYPE html>
<html lang="en"></html>
<head>
  <title>Group 1</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
  <script src="{{ url_for('static',filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
  <script type="module" src="{{ url_for('static',filename='script/script.js') }}"></script>
</head>
<body>
  <div id="master-container">
    <div class="main-container" id="selection-container">
      <label id="select-label">Select Numerical Method</label>
      <select id="selection">
        <option>Bisection</option>
        <option>False Position</option>
        <option>Newton Rhapson</option>
        <option>Secant</option>
        <option>Simple Fix Iteration</option>
        <option>Non-linear</option>
      </select>
    </div>
    <div class="main-container" id="input-container">
      <div id="field-container">
        <div class="in-con">
          <label>equation</label>
          <input type="text" id="eq">
        </div>
        <div class="in-con four-input">
          <label>upper limit</label>
          <input type="text" id="xu">
        </div>
        <div class="in-con four-input">
          <label>lower limit</label>
          <input type="text" id="xl">
        </div>
        <div class="in-con three-input">
          <label>x</label>
          <input type="text" id="x">
        </div>
        <div class="in-con">
          <label>stopping criterion</label>
          <input type="text" id="crit">
        </div>
      </div>
      <div id="buttons-container">
        <button id="clear" type="button">clear</button>
        <button id="calculate" type="button">calculate</button>
      </div>
    </div>
    <div class="main-container" id="output-container">
      <label>output</label>
      <div id="table-container"></div>
    </div>
  </div>
</body>