doctype html
html(lang='en')
head
    title Group 1
    link(rel="stylesheet", href="{{ url_for('static',filename='css/style.css') }}")
    link(rel="stylesheet", href="{{ url_for('static',filename='css/style.css') }}")
    script(src="{{ url_for('static',filename='node_modules/jquery/dist/jquery.min.js') }}")
    script(type="module", src="{{ url_for('static',filename='script/script.js') }}")
    //- script(type="module", src="../src/script.js")
body
    div#master-container
        div.main-container(id="selection-container")
            label#select-label Select Numerical Method
            select#selection
                - const o = ["Bisection", "False Position", "Newton Rhapson", "Secant", "Simple Fix Iteration", "Non-linear"]
                each i in o
                    option=i
        div.main-container(id="input-container")
            div#field-container
                div.in-con
                    label equation
                    input(type="text" id="eq")
                div.in-con.four-input
                    label upper limit
                    input(type="text" id="xu")
                div.in-con.four-input
                    label lower limit
                    input(type="text" id="xl")
                div.in-con.three-input
                    label x
                    input(type="text" id="x")
                div.in-con
                    label stopping criterion
                    input(type="text" id="crit")
            div#buttons-container
                button#clear(type="button") clear
                button#calculate(type="button") calculate
        div.main-container(id="output-container")
            label output
            div#table-container
