doctype html
html(lang='en')
head
    title Group 1
    link(rel="stylesheet", href="{{ url_for('static',filename='css/style.css') }}")
    link(rel="stylesheet", href="{{ url_for('static',filename='css/style.css') }}")
    script(src="{{ url_for('static',filename='node_modules/jquery/dist/jquery.min.js') }}")
    script(type="module", src="{{ url_for('static',filename='script/script.js') }}")
    //- script(type="module", src="../src/script.js")
body
    div#master-container
        div.main-container(id="selection-container")
            label#select-label Select Numerical Method
            select#selection
                - const o = ["Bisection", "False Position", "Newton Rhapson", "Secant", "Simple Fix Iteration", "Fix Iteration"]
                each i in o
                    option=i
        div.main-container(id="input-container")
            div#bisection
                label equation
                input(type="text" id="eq")
                label upper limit
                input(type="text" id="xu")
                label lower limit
                input(type="text" id="xl")
                label stopping criterion
                input(type="text" id="crit")
                button#calculate(type="button") calculate
        div.main-container(id="output-container")
            label output